:root {
    --laraja: #fa4d08;
    --preto: #000000;
    --preto-fosco: #363636;
    --branco: #ffffff;
    --cinza: #c0c0c0;
    --border: 0.1rem solid rgba(253, 80, 0, 0.702);

}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
    font-family: "Poppins", sans-serif;

}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
}

.logo img {
    width: 110px;
    height: 60px;
}

body {
    background: var(--preto);
    min-height: 100%;
    /* Garante que o corpo tenha altura mínima de 100% */
    display: flex;
    flex-direction: column;
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}



.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
}

.treinos {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: var(--preto);

}

.list-treinos {
    padding-top: 6rem;
    color: #ffffff;

}

.ri-arrow-left-line {
    margin: 0rem;
    font-size: 1.5rem;
    color: var(--branco);
}

.ri-arrow-left-line:hover {
    color: var(--laraja);

}

.navbar a {
    margin: 0rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--branco);
}

.navbar a:hover {
    color: #fa8908;
    border-bottom: 0.1rem solid rgba(253, 80, 0, 0.878);

}

.home-videos {
    /*background: url("/imgens/ModeloMasterFit02.png");*/
    height: 100vh;
    background-position: center;
    background-size: cover;

}

.list-treinos h2{
    color: #fa6908;
}

.list-treinos h4{
    color: #fa6908;
    font-size: 13px;
}

.list-treinos h3{
    color: #fa6908;
}

.home-videos section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-videos section h2{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.home-videos section h3{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.home-videos section a {
    color: var(--branco);
    justify-content: center;
    display: flex;
}
#longa{ 
    font-size: 13px;
  

}


.home-videos section a:hover {
    color: #fa8908;
}


.content2 {
    font-display: block;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 5px 5px;
    padding-top: 6rem;
}

.card {
    margin-top: 10px;
    padding: 10px 10px;
    background: var(--branco);
    border-radius: 10px;
    background: var(--laraja);

}

.card h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.videos {
    background: var(--preto);
}

.videos h3 {
    font-display: flex;
    color: var(--branco);
    font-size: 1rem;

}

.videos h2 {
    font-display: flex;
    color: var(--branco);
    font-size: 2rem;
    

}

html,
body {
    height: 100%;
}

main {
    flex: 1;
}

.footer2 {
    margin-top: 10px;
    background: var(--laraja);
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    color: var(--branco);
}

/* Ajustes no rodapé */
.footer2 section {
    display: block;
    align-items: center;
    justify-content: center;
    background: var(--laraja);
}

.footer2 section h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--branco);
    margin-top: -2rem;
    margin-bottom: 1rem;
}

.footer2 section a {
    line-height: 1rem;
    margin: auto;
    color: #000000;
    font-size: 40px;
}

.footer2 section a:hover {
    color: #ffffff;
}

.rodape2 {
    display: flex;
    color: var(--branco);
    align-items: center;
    justify-content: space-between;
}